{% extends "base.html" %}

{% block content %}

    <header><h1>Add New Product</h1></header>
    <section class="new-item-form">
        <form method="post">
            <div>
                <label for="url">URL</label>
                <input type="text" id="url" name="url"
                       placeholder="https://..." aria-describedby="urlHelp"/>
                <small id="urlHelp">
                    Enter full URL for the website item.
                </small>
            </div>
            <div>
                <label for="tag_name">Tag name</label>
                <input type="text" id="tag_name" name="tag_name"
                       placeholder="span" aria-describedby="tagNameHelp"/>
                <small id="tagNameHelp">
                    Enter HTML tag name for the website item's price.
                </small>
            </div>
            <div>
                <label for="query">Query</label>
                <input type="text" id="query" name="query"
                       placeholder='{"id": "..."}' aria-describedby="queryHelp"/>
                <small id="queryHelp">
                    Enter full id found in the HTML tag for the website item's price.
                </small>
            </div>
            <button type="submit">Create</button>
        </form>

    </section>

{% endblock %}
