{% extends "base.html" %}

{% block content %}

<header><h1>All Alerts Saved</h1></header>
<section class="all-alerts-list">
    <div class="btn-toolbar mb-3">
        <div class="btn-group mr-2">
            <a class="btn btn-outline-primary" href="{{ url_for('items.new_item') }}">
                New Item
            </a>
        </div>
    </div>
    <ul class="list-group mb-3">
        <div>
            {% for alert in alerts %}
                <li class="list-group-alert">
                    <div class="list-group-item">
                        <h4 class="alert-item-id mb-3">{{ alert.item.name }}</h4>
                        <h6>Alert Price Limit</h6>
                        <h3>{{ alert.item.recent_price }}</h3>
                        <p class="alert-price-limit" id="alert-price-limit">{{ alert.price_limit }}</p>
                        <br>
                        <a href="{{ alert.item.url }}">View</a>
                    </div>
                </li>
            {% endfor %}
        </div>
    </ul>
</section>

{% endblock %}