{% extends "base.html" %}

{% block content %}

<header>
    <h1>Add New Alert for Product</h1>
</header>
<section class="new-alert-form">
    <form method="post">
        <div class="form-group">
            <label for="item_url">Item URL</label>
            <input type="text" class="form-control" id="item_url" name="item_url"
                   placeholder="https://..." aria-describedby="itemUrlHelp">
        </div>
        <div class="form-group">
            <label for="price_limit">Price Limit</label>
            <input type="text" class="form-control" id="price_limit" name="price_limit"
                   placeholder="0.00" aria-describedby="priceLimitHelp"/>
            <small class="form-text text-muted" id="priceLimitHelp">
                Enter a price limit for the item.
            </small>
        </div>
        <button type="submit" class="btn btn-primary" >Create</button>
    </form>

</section>

{% endblock %}
