{% extends "base.html" %}

{% block content %}

<header><h1>All Stores Saved</h1></header>
<section class="all-stores-list">
    <ul class="list-group mb-3" style="list-style-type:none;">
        <div>
            {% for store in stores %}
                <li class="list-group-alert mb-2">
                    <div class="card list-group-item" style="width: 20rem;">
                        <h3 class="card-title alert-item-id mb-3">
                            <a href="{{ store.url_prefix }}">
                                {{ store.name }}
                            </a>
                        </h3>
                        <h5>Store Root URL</h5>
                        <p class="card-text">{{ store.url_prefix }}</p>
                        <h5>Store Tag Name</h5>
                        <p class="card-text">{{ store.tag_name }}</p>
                        <h5>Store Query .json</h5>
                        <p class="card-text">{{ store.query }}</p>
                        <div class="btn-toolbar" style="display: flex; justify-content:center;">
                            <a class="btn btn-success mr-2" href="{{ store.url_prefix }}">
                                Visit
                            </a>
                            <a class="btn btn-primary mr-2"
                               href="{{ url_for('stores.edit_store', store_id=store._id) }}">
                                Edit
                            </a>
                            <a class="btn btn-danger mr-2" href="{{ url_for('stores.delete_store', store_id=store._id) }}">
                                Delete
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </div>
    </ul>
</section>

{% endblock %}