{% extends "base.html" %}

{% block content %}

<header>
    <h1>Add New Store</h1>
</header>
<section class="new-store-form">
    <form method="post">
        <div class="form-group">
            <label for="store_name">Store Name</label>
            <input type="text" class="form-control" id="store_name" name="store_name"
                   placeholder="{{ store.name }}" aria-describedby="storeNameHelp" disabled/>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url"
                   placeholder="{{ store.url_prefix }}" value="{{ store.url_prefix }}" aria-describedby="urlHelp"/>
            <small class="form-text text-muted" id="urlHelp">
                Enter the full URL for the website.
            </small>
        </div>
        <div class="form-group">
            <label for="tag_name">Tag name</label>
            <input type="text" class="form-control" id="tag_name" name="tag_name"
                   placeholder="{{ store.tag_name }}" aria-describedby="tagNameHelp"/>
            <small class="form-text text-muted" id="tagNameHelp">
                Enter HTML tag name for the website item's price.
            </small>
        </div>
        <div class="form-group">
            <label for="query">Query</label>
            <input type="text" class="form-control" id="query" name="query"
                   placeholder='{{ store.query }}' aria-describedby="queryHelp"/>
            <small class="form-text text-muted" id="queryHelp">
                Enter id in .json form found in the HTML tag for the website item's price.
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-danger" href="{{ url_for('stores.all_stores') }}">Cancel</a>
    </form>

</section>

{% endblock %}
