{% extends "base.html" %}

{% block content %}

<header><h1>All Items Saved</h1></header>
<section class="all-items-list">
    <div class="btn-toolbar mb-3">
        <div class="btn-group mr-2">
            <a class="btn btn-outline-primary" href="{{ url_for('items.new_item') }}">
                New Item
            </a>
        </div>
        <div class="btn-group">
            <a class="btn btn-outline-secondary" href="{{ url_for('items.new_steam_item') }}">
                New Steam Item
            </a>
        </div>
    </div>
    <ol class="list-group mb-3">
        <div>
            {% for item in items %}
                <li class="list-group-item">
                    <h3 class="item-name">{{ item.item_name }}</h3>
                    <label>Item Price</label>
                    {% if item.item_price is not none: %}
                        <p class="item-price">{{ item.item_price }}</p>
                    {% else %}
                        <p class="item-price">{{ item.item_price }}</p>
                        <small class="form-text text-muted" id="priceNoneHelp">
                            No result for item price search.
                            Make sure item tag name and query were correct.
                        </small>
                    {% endif %}
                    <br>
                    <div class="btn-group mr-2">
                        <a class="btn btn-danger" href="/alerts/new/{{ item._id }}">
                            New Alert Price
                        </a>
                    </div>
                    <div class="btn-group mr-2">
                        <a class="btn btn-success" href="{{ item.url }}">
                            Go to seller's page
                        </a>
                    </div>
                </li>
            {% endfor %}
        </div>
    </ol>
</section>

{% endblock %}