{% extends "base.html" %}

{% block content %}

<section class="all-items-list">
    <h1>All Items Saved</h1>
    <ol class="list-group mb-3" style="list-style-type:none;">
        <div>
            {% for item in items %}
                <li class="list-group-item">
                    <h3 class="item-name">{{ item.url }}</h3>
                    <label>Item Price</label>
                    {% if item.price is not none: %}
                        <p class="item-price">{{ item.price }}</p>
                    {% else %}
                        <p class="item-price">{{ item.price }}</p>
                        <small class="form-text text-muted" id="priceNoneHelp">
                            No result for item price search.
                            Make sure item tag name and query were correct.
                        </small>
                    {% endif %}
                    <div class="btn-group mr-2">
                        <a class="btn btn-success" href="{{ item.url }}">
                            Go to seller's page
                        </a>
                    </div>
                </li>
            {% endfor %}
        </div>
    </ol>
</section>

{% endblock %}