{% extends "base.html" %}

{% block content %}
<header>
    <h1>Add Item from Steam Product</h1>
</header>
<section class="new-item-steam-form">
    <form method="post">
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url"
                   placeholder="https://..." aria-describedby="urlHelp"/>
            <small class="form-text text-muted" id="urlHelp">
                Enter full URL for the website item.
            </small>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</section>
{% endblock %}
